.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #7b7f8026;
}


.h2{
    font-weight: 800;
    text-decoration: none;
    color: #212529;
    font-size: 1.4rem;
    letter-spacing: -2px;
}